
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
    <div class="main-content">
        <p>  {{>header}} </p>
        <p>{{errorMessage}}</p>
    </div>

<p>
    
    {{>footer}}
</p>    
</body>
</html>